@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap');
/*---------------------------------------------------*/
/* Header */

body{
  color: white;
}

.main-header {
  /* Temporal */
  background: url(background.jfif);
  width: 100vw;
  height: 5000px !important;
  text-align: center;
  min-height:50% !important;
  max-height: 210px
}

.main-header .logo {
  font-size: 5em;
  font-family: 'Lobster', sans-serif;
  font-family: 'Monoton', cursive;
  font-family: 'Londrina Shadow', cursive;
  font-weight: 500;
  line-height: 1.1;
  background: url(background.jfif);
  width: 100%;
  position: absolute;
  top: 10%;
  height: 200px;
  
}

.main-header .navbar-static-top{
  width: 0px;
  /* Telegram */
}

/*---------------------------------------------------*/


.wrapper .content-wrapper .content {
  background : url(background.jfif);
}

/* Box titles */
.box-header {
  text-align: center;
  /* Telegram */
  background: #134243;
  vertical-align: middle;
}

.box-solid {
  /* Telegram */
  opacity: 0.9;
  color: white;
}

.box-body {
  /* Telegram */
  background: #092f2d;
  background: rgba(9, 47, 45);
  vertical-align: middle;
}




.box-title {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 500;
  line-height: 1;
  /* Telegram */
  color: white;
}

#a, #m, #c, #n, #seed, #intervalos {
  /* Telegram */
  background: #134243;
  border-color: rgba(0,0,0,0);
  /* Telegram */
  color: #7abbba;
}

#alpha {
  
}

/* Texto que aparece arriba de los inputs */
.control-label {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  /* Telegram */
  color: #05f7e7;
  margin: auto;
}

/* Radio buttons */

/* Select input*/
.selectize-input, .selectize-dropdown{
  background: #134243 !important;
  border-color: rgba(0,0,0,0) !important;
  /* Telegram */
  color: #7abbba;
}

.active {
  background: #092f2d !important;
  border-color: rgba(0,0,0,0) !important;
  /* Telegram */
}

.active:hover{
  /* Telegram */
  color: white;
}

/* Radio buttons or checkboxes */
input[type="radio"] {
    /*display: none;*/
}

/* Buttons */
#Button_evaluate, #Button_go, #download {
  color: white;
  font-family: 'Proza Libre', sans-serif;
  font-weight: bold;
  background: #00d1c3;
  border-color: rgba(0,0,0,0) !important;
  width: 100%;
}


#tabbox_generado, #tabbox_resultados {
  background: #134243;
  color: white;
}

#tabbox_generado .header, #tabbox_resultados .header {
  color: white;
}

#tabbox_generado li, #tabbox_resultados li {
  color: white;
}

#tabbox_generado li a, #tabbox_resultados li a{
  color: #7abbba;
}

#tabbox_generado li a:hover, #tabbox_resultados li a:hover{
  color: white;
}

#tabbox_generado .active a:hover, #tabbox_resultados .active a:hover{
  color: #092f2d;
}

.nav-tabs-custom ul .active {
  background: yellow;
  color: orange;
}

.nav-tabs-custom {
  opacity: 0.9;
  background: white;
  /*background: rgba(9, 47, 45, 0.9); !important;*/
}

/* Background for right panels */
.nav-tabs-custom .tab-content {
  background: rgba(9, 47, 45);
}

.nav-tabs-custom .nav .nav-tabs {
  background: #134243; !important;
  color: white;
}

.nav-tabs-custom .tab-content .tab-pane {
  background: rgb(0,0,0,0) !important;
}


/* Table design */

/* Entries */

.dataTables_length label{
  font-family: 'Proza Libre', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  /* Telegram */
  color: #05f7e7;
  margin: auto;
}

.dataTables_length label select, .dataTables_length label select option{
  font-family: 'Roboto', sans-serif;
  background: #134243 !important;
  border-color: rgba(0,0,0,0) !important;
  /* Telegram */
  color: #7abbba;
}

.dataTables_length label select.decorated option:hover{
  box-shadow: 0 0 10px 100px #1882A8 inset;
  /* Telegram */
  color: white;
}

.dataTables_filter label{
  font-family: 'Proza Libre', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  /* Telegram */
  color: #05f7e7;
  margin: auto;
}

.dataTables_filter input {
  font-family: 'Roboto', sans-serif;
  background: #134243 !important;
  border-color: rgba(0,0,0,0) !important;
  /* Telegram */
  color: #7abbba;
}

#DataTables_Table_0 tbody .odd {
  background: #134243 !important;
  border-color: rgba(0,0,0,0) !important;
  /* Telegram */
  color: #7abbba;
}

#DataTables_Table_0 tbody .even {
  background: #092f2d !important;
  border-color: rgba(0,0,0,0) !important;
  /* Telegram */
  color: #7abbba;
}



#DataTables_Table_0_info {
  color: yellow;
}

#DataTables_Table_0_paginate a, #DataTables_Table_0_paginate span .paginate_button {
  color: yellow;
}








